{% extends 'base.html' %}

{% block content %}
    {% include "sidemenu.html" %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Tambah Peserta Tes</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
{#              <div class="btn-group mr-2">#}
{#                <button class="btn btn-sm btn-outline-secondary">Tambah Soal</button>#}
                  <a href="/questions/create" class="btn btn-sm btn-outline-secondary">Tambahkan</a>
{#              </div>#}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 order-md-1">
            <form action="" method="POST" novalidate>
                <div>{{ form.hidden_tag() }}</div>
                <div class="mb-3">
                    <span>{{ form.name.label }} {{ form.name(class="form-control") }}</span>
                </div>
                <div class="mb-3">
                    <span>{{ form.username.label }} {{ form.username(class="form-control") }}</span>
                </div>
                <div class="mb-3">
                    <span>{{ form.password.label }} {{ form.password(class="form-control") }}</span>
                </div>
                <div>
                    <span>{{ form.submit() }}</span>
                </div>
            </form>
            </div>
        </div>
    </main>

{% endblock %}