<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
  <form action="" method="POST" class="form-signin" novalidate>
      <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sistem Tes Online</h1>
      <h1 class="h3 mb-3 font-weight-normal">Masuk</h1>
        {{ login_form.hidden_tag() }}
        {{ login_form.username(class="form-control") }}
        {{ login_form.password(class="form-control") }}
        {{ login_form.submit(class="btn btn-lg btn-primary btn-block") }}
      <p class="mt-4 mb-3 text-muted">&copy; Andromeda Computer Service 2017-2018</p>
    </form>
  </body>
</html>
